.video-background {
background-position: center 
background-size: contain; 
width: 100%;
height: 100vh;
background-color: rgba(0, 0, 0, 0.2); 
}
.caption {
	position: absolute;
	top: 38%;
	width: 100%;
	color: white;
}